
@{
    ViewBag.Title = "Game";
}


	<div class="well">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="#">Planet <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Units</a></li>
					<li><a href="#">Upgrades</a></li>
				</ul>
			</div>
			<div>
				@foreach (var category in Model)
				{
					<div class="col-md-4">
						<a href='@Url.Action(nameof(CategoryProductsController.List), nameof(CategoryProductsController).Replace("Controller", ""),new { @id = category.Id })' class="col-md-11 navbar btn well btn-xs btn-lg  text-primary">
							<div class="bg-danger col-md-12">
								<h4>@category.Name</h4>
							</div>
							<hr />
							<img src="@category.ImageToView">
						</a>
					</div>
				}
			</div>
		</div>

	</div>




