@using StarWars3.Web.Controllers;
@model StarWars3.Web.ViewModels.Game.PlayerId
@{
	ViewBag.Title = "ShowGame";
}

<div class="containerStyle well">
	<table>
		<tr>
			<td class="container menuStyle well">
				<input type="button" class="button" id="startGame" value="Start Game" />
				<input type="button" class="button" id="showGame" value="Show Game" />
			</td>
			<td>
				<canvas class="canvas" id="hexmap" width="1000" height="700"></canvas>
			</td>
		</tr>
	</table>

	<script type="text/javascript">
		$(document.ready = (function () {
			$.connection.hub.start();

			var game = $.connection.game;

			$('#showGame').click(function () {
					game.server.showGame(@Model.Id)
			});

			$('#regosterPlayer').click(function (msg) {
				game.server.registerPlayer()
			});

			game.client.showGame = function (showGameVieModel) {

			};

		}));

	</script>
</div>