@using StarWars3.Web.Controllers;
@model StarWars3.Web.ViewModels.Game.ShowGameViewModel
@{
	ViewBag.Title = "ShowGame";
}

<div class="containerStyle well">
		<table>
			<tr>
				<td class="menuStyle well" height="700">
					<ul>
						<li class="active"><a href="#">Planet <span class="sr-only">(current)</span></a></li>
						<li><a href="#">Units</a></li>
						<li><a href="#">Upgrades</a></li>
					</ul>
				</td>
				<td>
					<canvas class="canvas" id="hexmap" width="1024" height="700"></canvas>
				</td>
		   </tr>
      </table>
	
	@foreach (var gameObject in Model.mapDto.GameObjects)
	{
		<script type="text/javascript">
			drawImage(canvasContext, x, y, width, height, sideLength);
		</script>
	}	
</div>
